.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.windowField {
    justify-content: center;
    align-items: center;
}

.gameSpeedContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    margin-bottom: 1px;
    color: white;
}

.increase {
    padding-right: 5px;
}

.decrease {
    padding-left: 5px;
}

.fpsContainer {
    background: black;
    color: white;
    text-align: center;
}
